spring:
  application:
    name: smart-campus
  datasource:
    url: jdbc:h2:mem:smartcampus
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: false

server:
  port: 8081
  servlet:
    context-path: /

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.example.smartcampus: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: WARN
